# starkli is used for deployment so visit https://medium.com/starknet-edu/starkli-the-new-starknet-cli-86ea914a2933
# to see how to set it up

export STARKNET_RPC=https://x.yz
export STARKNET_ACCOUNT=~/path/to/account.json
export STARKNET_KEYSTORE=~/path/to/keystore.json

# Arcade Account Class Hash. Remember to change this 
# everytime you run `sh ./deployment/scripts/deploy.sh` 
export AA_CLASS_HASH=0x0358548ce9ff91aa0c126d42c2a9ee2bde194d0d06d2e4f15009e33009ed4efd